*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin:0;
}

#product-overview{
    background:linear-gradient(to top,rgb(0,0,0),blue),url("download.jpg");
    background-repeat:no-repeat;
    background-origin:border-box;
    background-clip:border-box;
    background-attachment: fixed;
    background-size: 100%;
    width:100vw;
    height:33vh;
    margin-top:42px;
}

#product-overview h1{
    position: relative;
    top:50px;
    left:20px;
}

@media (min-width:40rem){
    #product-overview{
        height:40vh;
       background-position: 50% 20%; 
    }

    #product-overview h1{
        font-size:2rem;
    } 
}

.plan{
    background:#d5ffdc;
    text-align:center;
    padding:16px;
    width:100%;
   }

.plan--highlighted{
    background:#19b84c;
    color:white;
}

.plan__annotation{
    background: white;
    color:#19b84c;
    padding:8px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5) ;
    border-radius: 8px;
}
.plan__title{
    color:#0e4f1f
}

.plan__price{
    color:#525133c5
}
.plan--highlighted .plan__title{
    color:white;
}
.plan__features{
    list-style: none;
    padding:0;
    margin:0;
}

.plan__feature{
    margin:8px;
}

@media (min-width:40rem){
    .plan-list{
    width:100%;
    text-align: center;
   }

  .plan{
     display: inline-block;
     width:30%;
     vertical-align: middle;
     max-width:19rem;
     min-width:12rem;
  } 
  
  .plan--highlighted{
      box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
  }
}

#key-features{
    background: #ff1b68;
    margin-top:80px;
    padding:16px;
}

#key-features .section-title{
    color:white;
    margin:32px;
}

.key-feature__list{
    list-style: none;
    margin:0;
    padding:0;
    text-align: center;
}

.key-feature{
    width:100%;
    vertical-align: top;
}

.key-feature__image{
    background: white;
    height: 128px;
    width:128px;
    border:2px solid black;
    border-radius: 50%;
    margin:auto;
}

.key-feature__description{
    font-weight: bold;
    font-size:20px;
    color:white;  
    text-align:center;  
}

@media (min-width:40rem){

    .key-feature{
        display: inline-block;
        width:30%;  
        vertical-align: top;
        max-width:19rem;
    }

}


.modal{
    position:fixed;
    display:none;
    z-index:200;
    top:0%;
    left:30%;
    width:40%;
    background:white;
    padding:1rem;
    border:1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.modal__title{
    text-align:center;
    margin: 0 0 1rem 0;
}

.modal__actions{
    text-align: center;
}

.modal__action{
    border:1px solid #0e4f1f;
    background:#0e4f1f;
    text-decoration:none;
    color:white;
    font:inherit;
    padding:0.5rem 1rem;
    cursor:pointer;
}

.modal__action:hover,
.modal__action:active{
    background:#19b84c;
    border-color: #19b84c;
}

.modal__action--negative{
    background:red;
    border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active{
    background: #ff5454;
    border-color: #ff5454;
}