.testimonial{
    margin:3rem 0;
}

.testimonial__image-container{
    width:70%;
    max-width: 600px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.9);
}

.testimonial__image{
  width:100%;
  vertical-align: top;
}

.testimonial__info{
    width:20%;
    font-size:1rem;
    text-align:right;
    display: inline-block;
    vertical-align: middle;
    padding:0.9rem;
}

.testimonial__name{
    color:red;
    font-size:1.5rem;
}

.testimonial__subtitle{
    margin:0;
    font-size:1rem;
    color:#ccc;
}

.testimonial__subtitle a{
    text-decoration: none;
    color:inherit
}

.testimonial__subtitle a:hover,
.testimonial__subtitle a:active{
    color:#7a7a7a;
}

.testimonial__text{
    font-size:1.1rem;
}